<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="/javascripts/scripts.js" charset="utf-8"></script>
  </head>
  <body>
    <button id='btn-go'>Do Stuff</button>
    <ol class='doohickey'>
    </ol>
  </body>
</html>
